<h1>Użytkownicy</h1>
<ul class = "Users">
  <li *ngFor="let user of service.list">
    ID: {{user.userId}} <br>
    USERNAME: {{user.username}} <br>
    PASSWORD: {{user.password}} <br>
  </li>
</ul>

<h1>Dodaj Użytkownika</h1>

<form>
  <input type="text" [(ngModel)]="service.formData.username" name="username" placeholder="Username">
  <input type="password" [(ngModel)]="service.formData.password" name="password" placeholder="Password">
  <!--<button type="submit" (click)="onSubmit()">Dodaj do bazy danych</button>-->
</form>

<h1>Usuń użytkownika</h1>
<form>
  <input type="text" [(ngModel)]="this.idToDelete" name="idToDelete" placeholder="idToDelete">
<button type="submit"(click)="deleteUser(idToDelete)">Usuń użytkownika</button>
</form>
