main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  /*background-color: #f4f4f4;*/
  margin: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

.container {
  background: white;
  width: 300px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
  display: block;
}

input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  /*background-color: #5C85FF;*/
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

  button:hover {
    background-color: #3a66db;
  }



