<div class = "container-fluid">
  <div class="hello">
    <h2 data-text="Dzień Dobry Maciej">Dzień Dobry {{username}}</h2>
  </div>

  <div class="monthText">
    <h3>{{this.month.toUpperCase()}}</h3>
   </div>
   <div class="container">
    <div class="row">
      <div class ="square" (click)="goToTest()" *ngFor="let day of [1,2,3,4,5,6,7]"> {{day}} </div>
    </div>
    <div class="row">
      <div class ="square" *ngFor="let day of [8,9,10,11,12,13,14]"> {{day}} </div>
    </div>
    <div class="row">
      <div class ="square" *ngFor="let day of [15,16,17,18,19,20,21]"> {{day}} </div>
    </div>
    <div class="row">
      <div class ="square" *ngFor="let day of [22,23,24,25,26,27,28]"> {{day}} </div>
    </div>
    <div class="row">
      <div class ="square" *ngFor="let day of generateLastRow()"> {{day}} </div>
    </div>


  </div>

  </div>



