<div class = "container-fluid">
  <div class = "row" id = "menu">
    <div  class="col-2" >
      <div class = "option" *ngIf="przychodyClicked==false" (click)="toggleOption('option1')">
        Przychody
      </div>
      <div class ="option-clicked" *ngIf="przychodyClicked==true">Przychody</div>
    </div>
    <div  class="col-2" >
      <div class = "option" *ngIf="wydatkiClicked==false" (click)="toggleOption('option2')">
        Wydatki
      </div>
      <div class ="option-clicked" *ngIf="wydatkiClicked==true">Wydatki</div>
    </div>
    <div  class="col-2" >
      <div class = "option" *ngIf="transakcjeClicked==false" (click)="toggleOption('option3')">
        Transakcje
      </div>
      <div class ="option-clicked" *ngIf="transakcjeClicked==true">Transakcje</div>
    </div>
    <div  class="col-2" >
      <div class = "option" *ngIf="oplatyClicked==false" (click)="toggleOption('option4')">
        Opłaty
      </div>
      <div class ="option-clicked" *ngIf="oplatyClicked==true">Opłaty</div>
    </div>
    <div class = "col-2" >  </div>
    <div  class="col-2" >
      <div class = "option" *ngIf="kontoClicked==false" (click)="toggleOption('option5')">
        Konto
      </div>
      <div class ="option-clicked" *ngIf="kontoClicked==true">Konto</div>
    </div>
  </div>

  <div class="hello">
    <h2 data-text="Dzień Dobry Maciej">Dzień Dobry {{username}}</h2>
  </div>

  <div class="monthText">
    <h3>{{this.month.toUpperCase()}}</h3>
   </div>
   <div class="container">
    <div class="row">
      <div class ="square" *ngFor="let day of [1,2,3,4,5,6,7]"> {{day}} </div>
    </div>
    <div class="row">
      <div class ="square" *ngFor="let day of [8,9,10,11,12,13,14]"> {{day}} </div>
    </div>
    <div class="row">
      <div class ="square" *ngFor="let day of [15,16,17,18,19,20,21]"> {{day}} </div>
    </div>
    <div class="row">
      <div class ="square" *ngFor="let day of [22,23,24,25,26,27,28]"> {{day}} </div>
    </div>
    <div class="row">
      <div class ="square" *ngFor="let day of generateLastRow()"> {{day}} </div>
    </div>


  </div>

  </div>



