
#menu {
  background-color: white;
  height: 50px;
}

.container-fluid {
  background-color: whitesmoke;
  height: 100vh;
}

.col-2 {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: color 0.5s, text-decoration 0.5s;
}

.option{
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: color 0.5s, text-decoration 0.5s;
  font-weight: bolder;
}

.option-clicked{
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: color 0.5s, text-decoration 0.5s;
  color: blue;
  font-weight: bolder;
}

#optionClicked {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: color 0.5s, text-decoration 0.5s;
  color: blue;
  text-decoration: underline;
}

.col-2::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: transparent;
  bottom: 0px;
  left: 0;
  transition: background-color 0.5s;
}

.col-2:hover {
  color: blue; /* Nowy kolor tekstu po najechaniu myszką */
  text-decoration: underline;
}

.hello{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 8vw;
}
h2{
  position: relative;
  font-size: 8vw;
  color: whitesmoke;
  -webkit-text-stroke: 0.3vw black;
  animation: animate 6s ease-out forwards;
}



h2:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: black;
  z-index: -1;
  animation: changeColor 0.1s ease-out forwards;
  animation-delay: 6s;
}

.square-container {
  height: 500px; /* Wysokość kontenera */
  width: 800px;
  background-color: black;
  margin: auto;
}

.monthText {
  opacity: 0; /* Początkowa wartość przezroczystości */
  animation: fadeIn 6s forwards; /* Ustawienie animacji */
  animation-delay: 4s;
  margin: auto;
  text-align: center;
}

.container {
  text-align: center;
  margin:auto;
  width: 46%;
  opacity: 0; /* Początkowa wartość przezroczystości */
  animation: fadeIn 6s forwards; /* Ustawienie animacji */
  animation-delay: 4s;
}

.square {
  width: 85px;
  height: 85px;
  margin: 5px;
  background-color: #007bff;
  text-align: left;
}

.square:hover {
  cursor: pointer;
  background-color: blue;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



@keyframes animate {
  0%
  {
    width: 0;
  }
  70%
  {
    width: 100%;
  }
}

@keyframes changeColor {
  to {
    color: black;
  }
}

.income {
  color: #32CD32
}

.expenditure {
  color: red;
}

.icons-left {

}

.icons-left:hover{
  cursor: pointer;
}

.icons-right {
}

.icons-right:hover {
  cursor: pointer;
}









